/*title*/

    h1{
        text-align:center;
    }

/*title*/

    span{
        background-color:#52c5c1bb;
    }

    td{
        line-height:25px;
    }

/*照片向左边float*/

    .image{
        float:left ;
        margin-right:15px;
        margin-bottom :20px;
    }

.title {
    font: italic 900 30px "Mincrosoft yahei"
}

.Author {
    font: italic 700 15px "Mincrosoft yahei"
}

.clearfix::after {
    content:"" ;
    display:table ;
    clear:both ;
}

.textmiddle{
    text-align : center ;
}

h2{
    font: 16px/28px ;
}

.grey{
    font-size:12px;
    color:#808080;
}

